.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.875rem;
  height: 12.5rem;

  background: var(--gray-700);
}

.header img {
  height: 2.25rem;
}

.header h1 {
  display: block;

  font-family: var(--font-principal);
  font-weight: bolder;
  font-size: 2.5rem;
  color: var(--blue-200);
}

.header h1 > span {
  color: var(--purple-400);
}
