@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --white: #ffffff;
  --cinza-100: #f2f2f2;
  --cinza-200: #d9d9d9;
  --cinza-300: #808080;
  --cinza-400: #333333;
  --cinza-500: #262626;
  --cinza-600: #1a1a1a;
  --cinza-700: #0d0d0d;

  --azul-200: #4ea8de;
  --azul-400: #1e6f9f;
  --purple-200: #8284fa;
  --purple-400: #5e60ce;

  --vermelho-300: #e25858;

  --font-principal: Inter, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--cinza-600);
  color: var(--cinza-100);
  -webkit-font-smoothing: antialieased;
}
